<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Acount</title>
    <link href="../public/css/createAccount.css" th:href="@{/css/createAccount.css}" rel="stylesheet"/>
</head>
<body>
<div class="headerbar">
    <img class="logo" th:src="@{/images/Fog_logo.png}">
    <h1>Lav konto</h1>
</div>

<div class="enterfield">
    <form method="post">
        <p>Indtast email</p>
        <input type="text" name="email">
        <p>Indtast kodeord</p>
        <input type="password" name="password">
        <p>Gentag kodeord</p>
        <input type="password" name="password2">
        <p>Indtast telefonnummer</p>
        <input type="text" name="phone">
        <p>Indtast addresse</p>
        <input type="text" name="address">

    <br>
    <br>
    <button type="submit" formaction="/createAccount">Opret profil</button>
    </form>
    <br>
    <br>
    <a href="/login">Log ind</a>
</div>
</body>
</html>