<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
  <link href="../public/css/login.css" th:href="@{/css/login.css}" rel="stylesheet"/>
</head>
<body>
<div class="headerbar">
  <img class="logo" th:src="@{/images/Fog_logo.png}">
  <h1>Log Ind</h1>
</div>
<br>
<br>

<div class="login">
  <form method="post">
    <div class="login">
  <input type="text" name="email" placeholder="Indtast email">
  <input type="password" name="password" placeholder="Indtast kodeord">

  <button type="submit" formaction="/login">Log ind</button>
    </div>
  </form>

  <a href="/createaccount">Lav en profil</a>
</div>



</body>
</html>