<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
  <link href="../public/css/login.css" th:href="@{/css/login.css}" rel="stylesheet"/>
</head>
<body>
<div class="headerbar">
  <img class="logo" th:src="@{/images/Fog_logo.png}">
  <h1>Log Ind</h1>
</div>
<br>
<br>

<div class="login">
  <form method="post">
  <p>Indtast email</p>
  <input type="text" name="email">
  <p>Indtast kodeord</p>
  <input type="password" name="password">
  <br>
  <br>
  <button type="submit" formaction="/login">Log ind</button>
  </form>
  <br>
  <br>
  <a href="/createaccount">Lav en konto</a>
</div>



</body>
</html>