<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Status</title>
    <link href="../public/css/statuspage.css" th:href="@{/css/statuspage.css}" rel="stylesheet"/>
</head>
<body>
<div class="headerbar">
    <img class="logo" th:src="@{/images/Fog_logo.png}">
    <h1>Status for carport</h1>
</div>

<br>
<br>
<p>Her kan du se dine selvlavede carporte og deres status</p>

<table class="table">
    <thead class="table">

    <tr class="table">
        <th>Længde</th>
        <th>Bredde</th>
        <th>Id</th>
        <th>Pris</th>
        <th>Status</th>
    </tr>

    </thead>
    <tbody class="table">
    <!-- Loop through orders for each order -->
    <form action="/status" method="post">
    <tr class="table" th:each="order : ${orders}">
        <td th:text="${order.carportLength}"></td>  <!-- Display length -->
        <td th:text="${order.carportWidth}"></td> <!-- Display width -->
        <td th:text="${order.orderId}"></td>  <!-- Display id -->
        <td th:text="${order.totalPrice}"></td>  <!-- Display price -->
        <td th:text="${order.orderStatusId}"></td>  <!-- Display status -->
        <!-- Only show "køb" when status id = 2 -->
        <div th:if="${order.orderStatusId == 3}">
            <td> <button type="submit">Køb</button></td>
        </div>

    </tr>
    </form>
    </tbody>
</table>

</body>
</html>