<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stykliste Evaluering</title>
    <link href="../../public/css/statuspage.css" th:href="@{/css/statuspage.css}" rel="stylesheet"/>
</head>
<body>
<div class="headerbar">
    <img class="logo" th:src="@{/images/Fog_logo.png}">
    <h1>Stykliste</h1>
</div>
<form action="/agreedPrice" method="post">
<table class="table">
    <thead class="table">

    <tr class="table">
        <th>Navn</th>
        <th>Længde</th>
        <th>Mængde</th>
        <th>Beskrivelse</th>
        <th>Matriale Pris</th>
    </tr>

    </thead>
    <tbody class="table">
    <!-- Loop through orders for each order -->

        <tr class="table" th:each="part : ${parts}">
            <td th:text="${part.name}"></td>
            <td th:text="${part.length}"></td>
            <td th:text="${part.amount}"></td>
            <td th:text="${part.description}"></td>
            <td th:text="${part.priceForLength}"></td>
        </tr>

    </tbody>
</table>
<label>Den totale pris for alle matrialer</label>
<p th:text="totalPrice"></p>
    <label>Indtast prisen som du og kunden har aftalt</label>
    <input  type="submit">
</form>
</body>
</html>